<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<footer class="py-4" style="background-color: gray; color: white">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-reset">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-reset">About</a></li>
    </ul>
    <p class="text-center">© 2024 ALOUTE, Inc</p>
</footer>
</html>