<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- HomePage Content -->
<div class="col-12 col-md-6">
    <div class="mt-3">
        <!-- Create Post -->
        <div class="card mb-4 p-3 shadow rounded-3">
            <div class="d-flex align-items-center gap-4">
                <img src="https://upload.wikimedia.org/wikipedia/vi/7/7d/Bliss.png" alt="Avatar"
                     class="rounded-circle mr-3"
                     style="width: 50px; height: 50px;">
                <input type="text" class="form-control rounded-4" placeholder="What are you thinking?"
                       onclick="openPostModal()">
            </div>
        </div>

        <script th:src="@{/js/load_posts.js}">

        </script>
        <!--        <div th:replace="fragments/post/post :: post">-->

        <!--        </div>-->
        <!-- Posts Feed -->
        <div id="postContainer">

        </div>

    </div>

    <!-- Chèn modal fragment -->
    <div th:insert="~{fragments/post/post_modal :: postModal}"></div>
</div>

<script>
    const token = localStorage.getItem('jwt');
    var myModal = new bootstrap.Modal(document.getElementById('postModal'));

    function openPostModal() {
        myModal.show();
    }
    function closePostModal() {
        myModal.hide();
    }

    // Load posts khi trang được load
    // document.addEventListener('DOMContentLoaded', loadPosts('/api/posts/users/user-50f5f788-86d3-468d-a6a3-5a741ef400d8?index=0', token));

    function submitPost() {
        const caption = document.querySelector('#postForm textarea').value;
        const fileInput = document.querySelector('#postForm input[type="file"]');
        const formData = new FormData();
        formData.append('caption', caption);

        if (fileInput && fileInput.files.length > 0) {
            formData.append('file', fileInput.files[0]);
        } else {
            // Gửi giá trị rỗng nếu không có file
            formData.append('file', new Blob());
        }

        fetch('/api/posts', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`, // Thêm token vào header
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.responseCode === 1000) {
                    // Gọi hàm để chèn post mới vào đầu
                    addNewPost(data.result);

                    // Làm sạch form
                    document.querySelector('#postForm textarea').value = ''; // Làm sạch textarea
                    fileInput.value = ''; // Làm sạch file input
                    myModal.hide();
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function addNewPost(post) {
        const postContainer = document.getElementById('postContainer');
        const newPostHtml = `
            <div class="card d-flex flex-row p-2 card shadow rounded-3 mb-4">
                <div class="d-flex ">
                    <img src="${post.user.avatarUrl || 'https://upload.wikimedia.org/wikipedia/vi/7/7d/Bliss.png'}" alt="avatar" class="rounded-circle border border-secondary" style="width: 2.5rem; height: 2.5rem; margin: 0.5rem;">
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="d-flex align-items-center gap-2">
                        <a class="font-weight-bold">
                            ${post.user.firstName} ${post.user.lastName}
                        </a>
                        <span class="text-secondary">@${post.user.username}</span>
                        <span>·</span>
                        <span class="text-secondary">${new Date(post.createdAt).toLocaleDateString()}</span>
                    </div>
                    <div class="min-h-12">
                        <p class="text-break">${post.caption}</p>
                    </div>
                    ${post.imageUrl ? `<img src="${post.imageUrl}" class="img-fluid rounded border w-100" alt="post image" onclick="event.stopPropagation()">` : ''}
                    ${post.videoUrl ? `<video class="img-fluid rounded border w-100" controls onclick="event.stopPropagation()">
                                        <source src="${post.videoUrl}">
                                        </video>` : ''}
                    <div class="d-flex justify-content-between mt-2">
                        <section class="d-flex gap-4">
                            <!-- Like Button -->
                            <div class="d-flex align-items-center">
                                <button
                                  class="heart-button hover:text-red-400"
                                  type="button"
                                  tabindex="0"
                                >
                                  <svg
                                    class="heart-icon"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    focusable="false"
                                  >
                                    <path
                                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54z"
                                    ></path>
                                  </svg>
                                </button>
                                <button type="button" class="btn btn-link p-0 text-danger" onclick="likePost()">
                                    <span class="hover-underline cursor-pointer" onclick="handleOpenUserLiked()">0</span>
                                </button>
                            </div>

                            <!-- Comment button -->
                            <div class="d-flex align-items-center">
                                <button
                                  title="Like this post"
                                  class="chat-button hover:text-cyan-400"
                                  type="button"
                                  tabindex="0"
                                >
                                  <svg
                                    class="chat-icon"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    focusable="false"
                                  >
                                    <path
                                      d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2"
                                    ></path>
                                  </svg>
                                </button>
                                <button type="button" class="btn btn-link p-0 text-info" onclick="handleOpenComment()">
                                    <span class="hover-underline cursor-pointer" onclick="handleOpenComment()">0</span>
                                </button>
                            </div>
                        </section>
                        <button type="button" class="btn btn-link p-0 text-info">
                            <i class="bi bi-share"></i>
                        </button>
                    </div>
                </div>
            </div>`;
        postContainer.insertAdjacentHTML('afterbegin', newPostHtml);
    }
</script>
<script>
    // let currentIndex = 0; // Biến lưu trữ index hiện tại của các bài viết đã tải
    //
    // document.addEventListener('DOMContentLoaded', () => {
    //     loadPosts(`/api/posts/users/user-50f5f788-86d3-468d-a6a3-5a741ef400d8?index=${currentIndex}`, token);
    //
    //     // Lắng nghe sự kiện cuộn
    //     window.addEventListener('scroll', () => {
    //         const scrollableHeight = document.documentElement.scrollHeight; // Chiều cao toàn bộ trang
    //         const currentScroll = window.scrollY + window.innerHeight; // Vị trí cuộn hiện tại
    //
    //         if (currentScroll >= scrollableHeight - 200) { // Khi cuộn đến gần cuối trang
    //             console.log(currentIndex)
    //             loadMorePosts(); // Tải thêm bài viết
    //         }
    //     });
    // });
    //
    // function loadMorePosts() {
    //     currentIndex = currentIndex + 10; // Tăng index khi tải thêm bài viết
    //     loadPosts(`/api/posts/users/user-50f5f788-86d3-468d-a6a3-5a741ef400d8?index=${currentIndex}`, token);
    // }
    startLoad("api/posts/users/user-50f5f788-86d3-468d-a6a3-5a741ef400d8");
</script>
</body>
</html>